table {
margin: 0em auto;
border: 2px solid blue;
td {
border: 1px solid black;
background-color: lightblue;
}
}
h1{
font-size: 5em;
font-family: "Ubuntu";
color: darkorange;
text-align: center;
text-shadow: 2px 2px 6px darkblue;
}
.Titulo{
padding: 0.4em;
background-color: #ED9C47; 
    background-image: -moz-linear-gradient( left,
    lightblue, blue );
}

